.btn {
  padding: 12px 35px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  @include sans($button, book);
  @include transition(background-color $transition, color $transition, border-color $transition);
  background-color: white;
  border: 1px solid $dark-grey;
  color: $text;
  min-width: 180px;
  &:hover {
    // border-color: $lime;
    // color: $lime;
    color: white;
    border-color: $navy;
    background-color: $navy;
  }
  // &:visited {
  //   background-color: white !important;
  //   border: 1px solid $dark-grey !important;
  //   color: $text !important;
  // }
  // &:focus {
  //   border-color: black !important;
  //   border: dotted;
  // }
}

.btn-right {
  @extend .btn;
  position: relative;
  &:after {
    @include center-pos(false, true);
    right: 20px;
    @extend .icon-arrow_right;
  }
}

.nav-toggle {
  width: 27px;
  height: 23px;
  cursor: pointer;
  // border: 1px solid red;
  span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: $navy;
    & + span {
      margin-top: 7px;
    }
  }
}
.close-toggle {
  cursor: pointer;
  &:after {
    font-size: 26px;
    @extend .icon-cross;
  }
}
