$button: (
0px: (18px, 26px)
);

.btn {
  border: 0;
  &--text {
    @include inter($p, 700);
    display: table;
    position: relative;
    // border-bottom: 4px solid $orange;
    &:after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      background-color: $orange;
      height: 4px;
      @include transition(width $transition);
    }
    &:hover {
      &:after {
        width: calc(100% + 20px);
      }
    }
  }
  &--block {
    box-shadow: 5px 5px 0px 0px $black;
    text-align: center;
    min-width: 160px;
    @include inter($button, 700);
    padding: 10px 16px 10px 16px;
    @media (min-width: $screen-lg-min) {
      padding: 14px 16px 14px 16px;
    }
  }
  &--orange {
    border: 3px solid transparent;
    background-color: $orange;
    color: white;
    @include transition(background-color $transition, color $transition, border-color $transition);
    &:hover {
      background-color: white;
      color: $orange;
      border-color: $orange;
    }
  }
}
