$button: (
0px: (18px, 26px)
);

.btn {
  border: 0;
  &--block {
    box-shadow: 5px 5px 0px 0px $black;
    padding: 10px 16px 10px 16px;
    text-align: center;
    min-width: 160px;
    @include inter($button, 700);
  }
  &--orange {
    background-color: $orange;
    color: white;
  }
}
