.carousel {
  background-color: $light-grey;
  padding: 40px 30px;
  @media (min-width: $screen-lg-min) {
    padding: 60px 0px 30px 0px;
  }
  &__inner {
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
  }
  &__title {
    @include brandon($heading, medium);
    @include marginBottom(30);
  }
  &__text {
    @include sans($p, book);
    @include marginBottom(30);
  }

  iframe {
    width: 100%;
    @media (max-width: $screen-xs-max) {
      height: 200px;
    }
  }

  &__slider {
    // border: 1px solid red;

    .slide {
      &__inner {
        max-width: 750px;
        margin: 0 auto;
      }
    }

    .swiper-pagination {
      display: block;
      position: relative;
      bottom: auto !important;
      left: auto !important;
      width: auto !important;
      text-align: center;
      @include marginTop(30);
      @include marginBottom(30);
      .swiper-pagination-bullet {
        width: 34px;
        height: 34px;
        display: inline-block;
        background-color: white;
        opacity: 1;
        position: relative;
        margin: 0 5px;
        span {
          @include sans($p, bold);
          @include center-pos();
        }
      }
      &-bullet-active {
        background-color: $primary !important;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: auto;
      color: $dark-grey;
      @include transition(color $transition);
      @include marginTop(-50);
      @media (max-width: $screen-sm-max) {
        display: none;
      }
      &:after {
        font-size: 24px !important;
      }
      &:hover {
        color: $primary;
      }
    }
    .swiper-button-next {
      right: 40px;
      &:after {
        @extend .icon-arrow_right;
      }
    }
    .swiper-button-prev {
      left: 40px;
      &:after {
        @extend .icon-arrow_left;
      }
    }
  }
}
