$events-heading: (
0px: (30px, 36px)
);
$events-title: (
0px: (24px, 34px)
);

.events {
  // padding: 0px 0px 40px 0px;
  // @media (min-width: $screen-sm-min) {
  //   padding: 60px 0px;
  // }
  .thin-container {
    @media (min-width: $screen-sm-min) {
      max-width: 680px;
    }
    @media (min-width: $screen-lg-min) {
      max-width: 780px;
    }
  }
  &__title {
    @include sans($events-heading, bold);
    @include marginBottom(30);
    @include marginTop(60);
  }
  &__item {
    border: 1px solid $primary;
    @include marginBottom(25);
    padding: 25px 30px 10px 30px;
    @media (min-width: $screen-sm-min) {
      padding: 40px;
    }
    &__grid {
      @media (min-width: $screen-sm-min) {
        @include display-grid;
        @include display-grid-columns(1fr 200px);
        @include display-grid-gap(90);
      }
      &__col1 {
        @include marginBottom(15, 0);
      }
    }
    &__title {
      @include sans($events-title, bold);
      @include marginBottom(15);
    }
    &__date {
      @include sans($p, book);
    }
    &__location {
      @include sans($p, book);
    }
    &__more {
      @include marginBottom(0, 60);
      @include marginTop(15, 0);
      @media (max-width: $screen-xs-max) {
        display: none;
      }
      @media (min-width: $screen-sm-min) {
        text-align: right;
      }
      a {
        display: block;
        @include transition(color $transition);
        &:hover,
        &:focus {
          color: $primary;
        }
      }
    }
    &__button {
      .btn {
        @media (min-width: $screen-sm-min) {
          width: 100%;
        }
      }
      .events__item__more {
        display: block;
        @media (min-width: $screen-sm-min) {
          display: none;
        }
      }
    }
  }
}

.page-header {
  .events__item {
    @media (max-width: $screen-md-max) {
      display: none;
    }
    &__grid {
      @include display-grid-columns(1fr);
      &__col1 {
        @include marginBottom(50);
      }
      &__col2 {
        @include display-grid;
        @include display-grid-columns(1fr 1fr);
        @include align-items(center);
      }
    }
    &__more {
      @include marginBottom(0);
      p {
        @include marginBottom(0);
      }
    }
  }
}
.module.events {
  .page-header__grid {
    @media (min-width: $screen-sm-min) {
      @include display-grid;
      @include display-grid-gap(36);
      @include display-grid-columns(1fr 1fr);
    }
    @media (min-width: $screen-lg-min) {
      @include display-grid-columns(1fr 1fr 475px);
    }
  }
  .page-header:after {
    height: 1000px;
    width: 1000px;
    top: -737px;
    left: -275px;
    @media (min-width: $screen-lg-min) {
      top: -550px;
      left: -200px;
    }
  }
}


.page-header {
  padding: 60px 0px;
  // padding-top: 60px;
  overflow: hidden;
  position: relative;
  // z-index: 1;
  @media (min-width: $screen-sm-min) {
    // padding: 90px 0px 0px 0px;
    padding-top: 90px;
  }
  &:after {
    content: "";
    position: absolute;
    background-color: $primary;
    opacity: 0.1;
    border-radius: 100%;
    pointer-events: none;
    z-index: 1;
    height: 1000px;
    width: 1000px;
    top: -730px;
    left: -275px;
    @media (min-width: $screen-lg-min) {
      top: -400px;
      left: -200px;
    }
  }

  &__grid {
    @media (min-width: $screen-sm-min) {
      @include display-grid;
      @include display-grid-gap(36);
      @include display-grid-columns(1fr 1fr);
    }
    @media (min-width: $screen-lg-min) {
      @include display-grid-columns(1fr 1fr 1fr);
    }
  }
  &__title {
    @include brandon($title, medium);
    @include marginBottom(30);
  }
  &__intro {
    @extend .text-styles;
    // @include align-self(center);
    // @include marginTop(0, 0, 0, -60);
    @include marginTop(0, 0, 0, 60);
    @include display-grid-column(1,4);
    @media (min-width: $screen-lg-min) {
      padding-right: 250px;
      @include display-grid-column(1,3);
    }
    & + .post__item {
      &:before {
        content: "Featured";
        @include sans($featured, bold);
        @include marginBottom(15);
        color: $primary;
        display: block;
        position: relative;
      }
      @media (max-width: $screen-md-max) {
        display: none;
      }
      .post__item__meta {
        flex-grow: 0;
      }
    }
  }
}
