// General
$title: (
0px: (29px, 40px),
768px: (36px, 44px),
1024px: (51px, 59px)
);
$heading: (
0px: (26px, 37px),
10240px: (36px, 50px),
);
$large-intro: (
0px: (20px, 30px),
768px: (22px, 34px),
);
$intro: (
0px: (16px, 28px),
1024px: (18px, 31px),
);
$p: (
0px: (15px, 24px),
768px: (16px, 26px),
);

$overlay: (
0px: (24px, 28px),
768px: (28px, 34px),
);
$input: (
0px: (14px, 22px),
768px: (17px, 25px),
);


@font-face {
  font-family: "icons";
  src: url('../../fonts/icomoon/icomoon.eot');
  src: url('../../fonts/icomoon/icomoon.eot?#iefix') format('eot'), /* IE9 Compat Modes */
  url('../../fonts/icomoon/icomoon.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/icomoon/icomoon.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/icomoon/icomoon.svg#icomoon') format('svg'); /* Legacy iOS */
}

@mixin inter($fs-map, $weight) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    font-family: 'Inter', sans-serif;
    font-weight: $weight;
    font-style: normal;
    @if $fs-breakpoint == null {
      font-size: $fs-font-size !important;
    }
    @else {
      @media (min-width: $fs-breakpoint) {
        @include make-font-size($fs-font-size);
      }
    }
  }
}
@mixin bebas($fs-map, $weight) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    font-family: 'bebas-neue-pro', sans-serif;
    font-weight: $weight;
    font-style: normal;
    @if $fs-breakpoint == null {
      font-size: $fs-font-size !important;
    }
    @else {
      @media (min-width: $fs-breakpoint) {
        @include make-font-size($fs-font-size);
      }
    }
  }
}


[class^="icon-"], [class*=" icon-"], .icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-twitter {
  @extend .icon;
  content: "\e900";
}
.icon-linkedin {
  @extend .icon;
  content: "\e901";
}
.icon-star {
  @extend .icon;
  content: "\e902";
}
.icon-arrow_right {
  @extend .icon;
  content: "\e907";
}
.icon-arrow_left {
  @extend .icon;
  content: "\e903";
}

.icon-quote_top {
  @extend .icon;
  content: "\e90b";
}
.icon-quote_bottom {
  @extend .icon;
  content: "\e90a";
}

.icon-triangle_down {
  @extend .icon;
  content: "\e906";
}
.icon-caret_down {
  @extend .icon;
  content: "\e904";
}
.icon-caret_left {
  @extend .icon;
  content: "\e908";
}
.icon-caret_right {
  @extend .icon;
  content: "\e909";
}
.icon-cross {
  @extend .icon;
  content: "\e905";
}
