@font-face {
  font-family: "icons";
  src: url('../../fonts/icomoon/icomoon.eot');
  src: url('../../fonts/icomoon/icomoon.eot?#iefix') format('eot'), /* IE9 Compat Modes */
  url('../../fonts/icomoon/icomoon.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/icomoon/icomoon.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/icomoon/icomoon.svg#icomoon') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'cerebri-light';
  src: url("../../fonts/Cerebri_Light.woff") format("woff");
}
@font-face {
  font-family: 'cerebri-book';
  src: url("../../fonts/Cerebri_Book.woff") format("woff");
}
@font-face {
  font-family: 'cerebri-bold';
  src: url("../../fonts/Cerebri_Bold.woff") format("woff");
}

[class^="icon-"], [class*=" icon-"], .icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .icon-logo {
//   @extend .icon;
//   content: "\e900";
// }


// arrows
.icon-arrow_right {
  @extend .icon;
  content: "\e900";
}
.icon-arrow_left {
  @extend .icon;
  content: "\e901";
}
.icon-underline {
  @extend .icon;
  content: "\e902";
}
.icon-cross {
  @extend .icon;
  content: "\e903";
}
.icon-chevron_down {
  @extend .icon;
  content: "\e904";
}

.icon-thoughts {
  @extend .icon;
  content: "\e905";
}
.icon-blog {
  @extend .icon;
  content: "\e906";
}
.icon-podcasts {
  @extend .icon;
  content: "\e907";
}
.icon-books {
  @extend .icon;
  content: "\e908";
}
