$footer: (
0px: (14px, 20px)
);

.site-footer {
  background-color: $dark-grey;
  color: white;
  padding: 40px 30px 60px 30px;
  @media (min-width: $screen-sm-min) {
    padding: 40px 35px 40px 35px;
  }
  @media (min-width: $screen-lg-min) {
    padding: 40px 50px 40px 50px;
  }
  &__grid {
    @include display-grid;
    @media (min-width: $screen-sm-min) {
      @include display-grid-columns(1fr 1fr 1fr);
      @include align-items(end);
    }

  }
  &__logo {
    @include inter($footer, 400);
    @include marginBottom(20, 0);
    @media (max-width: $screen-xs-max) {
      display: flex;
      align-items: center;
    }
    &__image {
      @include marginBottom(0, 10);
      display: inline-block;
      @media (max-width: $screen-xs-max) {
        padding-right: 20px;
      }
      @media (min-width: $screen-sm-min) {
        display: block;
      }

      &:after {
        @extend .icon-star;
        color: $orange;
        font-size: 34px;
      }
    }
  }
  &__nav {
    @include marginBottom(30, 0);
    @media (min-width: $screen-sm-min) {
      text-align: center;
    }
    li {
      @include marginBottom(10, 0);
      @media (min-width: $screen-sm-min) {
        display: inline-block;
      }
      a {
        @include inter($footer, 400);
        @include transition(color $transition);
        &:hover {
          color: $orange;
        }
      }
      & + li {
        @media (min-width: $screen-sm-min) {
          margin-left: 50px;
        }
      }
    }
  }
  &__socials {
    @extend .socials;
    @media (min-width: $screen-sm-min) {
      @include justify-self(end);
    }
    li {
      display: inline-block;
      & + li {
        margin-left: 18px;
      }
    }
  }
}

.socials {
  a {
    height: 40px;
    width: 40px;
    background-color: $orange;
    border-radius: 100%;
    position: relative;
    display: block;
    &:after {
      @include center-pos;
      color: white;
      font-size: 18px;
    }
    &.linkedin {
      &:after {
        @extend .icon-linkedin;
      }
    }
    &.twitter {
      &:after {
        @extend .icon-twitter;
      }
    }
  }
}

.contact-sticky {

  @media (max-width: $screen-xs-max) {
    display: none;
  }

  position: fixed;
  bottom: 120px;
  right: 60px;
  z-index: 6;
  &__button {
    box-shadow: 5px 5px 0px 0px $orange;
    background-color: white;
    padding: 15px 26px 15px 60px;
    border: 3px solid $orange;
    color: $orange;
    text-align: center;
    min-width: 160px;
    @include inter($button, 700);
    position: relative;
    text-transform: uppercase;
    @include transition(background-color $transition, color $transition);
    &:before {
      @extend .icon-star;
      font-size: 26px;
      position: absolute;
      left: 16px;
      top: 12px;
      @include transition(transform $transition);
    }

    &:hover {
      background-color: $orange;
      color: white;
      &:before {
        @include transform(rotate(90deg));
      }
    }
  }
}
