.module__contact {
  position: relative;
  background-image: linear-gradient(to right, rgba($gradient_1, 0.1) , rgba($gradient_2, 0.1));
  color: $black;
  padding: 230px 0px 200px 0px;
  .container {
    max-width: 620px;
  }
  &__form {
    background-color: white;
    padding: 60px 50px;
    box-shadow: 5px 5px 0px 0px $black;
    input[type="text"],
    input[type="email"],
    input[type="telephone"],
    textarea {
      @extend .input-simple;
    }
    input[type="submit"],
    button {
      @extend .btn--block;
      @extend .btn--orange;
      width: 100%;
      border: 0;
      cursor: pointer;
    }
    p {
      @include inter($p, 400);
    }
  }
  &__heading {
    @include bebas($heading, 700);
    @include marginBottom(15);
    text-align: center;
  }
  &__subtitle {
    @include inter($p, 400);
    @include marginBottom(60);
    text-align: center;
  }
}

.input-simple {
  border: 2px solid #EDEDED;
  padding: 16px 23px;
  @include marginBottom(30);
  width: 100%;
  @include inter($input, 500);
  @include placeholder() {
    @include inter($input, 400);
    color: $black;
    opacity: 1;
  }
}


// selectric reset
.selectric {
  border: 0;
  background: none;
  .label {
    margin: 0;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    text-overflow: inherit;
    height: inherit;
  }
  .button {
    display: none;
  }
}

.selectric-wrapper {
  @include marginBottom(30);
}
.selectric {
  .label {
    background-color: white;
    color: $black;
    @include inter($input, 400);
    position: relative;
    border: 2px solid #EDEDED;
    padding: 16px 23px;
    &:after {
      @include center-pos(false, true);
      right: 18px;
      @extend .icon-triangle_down;
      font-size: 8px;
    }
  }
}
