.site-header {
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;

  // padding: 50px 60px 0px 60px;

  &__fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    padding: 50px 30px 0px 30px;
    @media (min-width: $screen-lg-min) {
      padding: 50px 60px 0px 60px;
    }
  }
  &__prop {
    position: absolute;
    padding: 50px 30px 0px 30px;
    @media (min-width: $screen-lg-min) {
      padding: 50px 60px 0px 60px;
    }
  }
  &__grid {
    @include display-grid;
    @include display-grid-columns(1fr 1fr );
  }
  &__nav-toggle {
    @include justify-self(end);
    height: 70px;
    width: 70px;
    background-color: $orange;
    border-radius: 100%;
    position: relative;
    cursor: pointer;

    .hamburger {
      @include center-pos();
      span {
        display: block;
        background-color: white;
        height: 3px;
        width: 30px;
        @include transition(width $transition);
        &:nth-child(2) {
          margin-top: 7px;
        }
        &:nth-child(3) {
          margin-top: 7px;
          width: 23px;
        }
      }
    }

    &:hover {
      .hamburger {
        span {
          &:nth-child(1) {
            width: 23px;
          }
          &:nth-child(3) {
            width: 30px;
          }
        }
      }
    }
  }
  &__logo {
    &--fixed {
      max-width: 70px;
      display: inline-block;
    }
    &--text {
      margin-left: 80px;
      max-width: 224px;
      padding-top: 10px;
    }
  }
}



.overlay {
  position: fixed;
  right: -100%;
  top: 0;
  background-color: $orange;
  color: white;
  height: 100vh;
  @include transition(right $transition);
  z-index: 10;
  pointer-events: none;
  width: 95%;
  @media (min-width: $screen-sm-min) {
    width: 80%;
  }
  @media (min-width: $screen-lg-min) {
    width: 40%;
  }
  &--open {
    right: 0;
    pointer-events: all;
  }
  &__inner {
    padding: 60px 80px;
  }
  &__close {
    display: block;
    color: white;
    float: right;
    font-size: 30px;
    cursor: pointer;
    &:after {
      @extend .icon-cross;
    }
  }
  &__menu {
    @include marginTop(90);
    li {
      @include inter($overlay, 400);
      color: white;
      @include marginBottom(30);
    }
  }
}
