.site-header {
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;

  // padding: 50px 60px 0px 60px;

  &__fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    padding: 50px 30px 0px 30px;
    @media (min-width: $screen-lg-min) {
      padding: 50px 60px 0px 60px;
    }
  }
  &__prop {
    position: absolute;
    padding: 50px 30px 0px 30px;
    @media (min-width: $screen-lg-min) {
      padding: 50px 60px 0px 60px;
    }
  }
  &__grid {
    @include display-grid;
    @include display-grid-columns(1fr 1fr );
  }
  &__nav-toggle {
    @include justify-self(end);
    background-color: $orange;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    height: 50px;
    width: 50px;
    @media (min-width: $screen-sm-min) {
      height: 70px;
      width: 70px;
    }

    .hamburger {
      @include center-pos();
      span {
        display: block;
        background-color: white;
        @include transition(width $transition);
        height: 2px;
        width: 22px;
        @media (min-width: $screen-sm-min) {
          width: 30px;
        }
        &:nth-child(2) {
          margin-top: 4.5px;
          @media (min-width: $screen-sm-min) {
            margin-top: 7px;
          }
        }
        &:nth-child(3) {
          margin-top: 4.5px;
          width: 16px;
          @media (min-width: $screen-sm-min) {
            margin-top: 7px;
            width: 23px;
          }
        }
      }
    }

    &:hover {
      .hamburger {
        span {
          &:nth-child(1) {
            width: 16px;
            @media (min-width: $screen-sm-min) {
              width: 23px;
            }
          }
          &:nth-child(3) {
            width: 22px;
            @media (min-width: $screen-sm-min) {
              width: 30px;
            }
          }
        }
      }
    }
  }
  &__logo {
    &--fixed {
      display: inline-block;
      max-width: 38px;
      @media (min-width: $screen-sm-min) {
        max-width: 70px;
      }
    }
    &--text {
      max-width: 140px;
      margin-left: 45px;
      padding-top: 4px;
      @media (min-width: $screen-sm-min) {
        margin-left: 80px;
        padding-top: 10px;
        max-width: 224px;
      }
    }
  }
}



.overlay {
  position: fixed;
  right: -100%;
  top: 0;
  background-color: $orange;
  color: white;
  height: 100vh;
  @include transition(right $transition);
  z-index: 100;
  pointer-events: none;
  width: 95%;
  @media (min-width: $screen-sm-min) {
    width: 80%;
  }
  @media (min-width: $screen-lg-min) {
    width: 40%;
  }
  &--open {
    right: 0;
    pointer-events: all;
    .overlay__menu li {
      opacity: 1;
      transform:translateX(0);
      @include transition(opacity $transition, transform $transition);
      @include animationDelay();
    }
  }
  &__inner {
    padding: 50px 40px;
    @media (min-width: $screen-sm-min) {
      padding: 60px 80px;
    }
  }
  &__close {
    display: block;
    color: white;
    float: right;
    cursor: pointer;
    font-size: 24px;
    @media (min-width: $screen-sm-min) {
      font-size: 30px;
    }
    &:after {
      @extend .icon-cross;
    }
  }
  &__menu {
    @include marginTop(60, 90);
    li {
      @include inter($overlay, 400);
      color: white;
      opacity: 0;
      transform:translateX(20px);
      @include marginBottom(15, 30);
    }
  }
}
