$accordions: (
0px: (17px, 34px),
768px: (18px, 36px)
);

.module__accordions {
  padding: 40px 0px;
  @media (min-width: $screen-sm-min) {
    padding: 68px 0px;
  }

  &__grid {
    @include display-grid;
    @media (min-width: $screen-sm-min) {
      @include display-grid-columns(6fr 6fr);
      @include display-grid-gap(40);
    }
    @media (min-width: $screen-lg-min) {
      @include display-grid-columns(5fr 7fr);
      @include display-grid-gap(100);
    }
    &__col {
      position: relative;
    }
  }

  &__image {
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }

  &__intro {
    @include inter($large-intro, 400);
    @include marginBottom(30, 50);
  }

  &__item {
    @media (min-width: $screen-sm-min) {
      margin-left: -20px;
    }
    &__head {
      cursor: pointer;
      border-top: 1px solid #DADADA;
      @include inter($accordions, 500);
      position: relative;
      padding: 18px 0px;
      padding-right: 30px;
      @media (min-width: $screen-sm-min) {
        padding: 18px 20px;
        padding-right: 50px;
      }
      &:after {
        @extend .icon-caret_down;
        position: absolute;
        top: 30px;
        right: 20px;
        font-size: 12px;
        @include transition(transform $transition);
      }
    }
    &__body {
      display: none;
      color: #6A6A6A !important;
      @extend .text-styles;
      padding-bottom: 30px;
      padding-left: 0;
      @media (min-width: $screen-sm-min) {
        padding-left: 20px;
      }
    }
    &__button {
      @include inter($p, 700);
      color: $black;
      position: relative;
      border-bottom: 4px solid $orange;
    }
    &:nth-child(1) {
      .module__accordions__item__head {
        border-top: 0;
      }
    }

    &--active {
      .module__accordions__item__head {
        &:after {
          @include transform(rotate(180deg));
        }
      }
    }
  }

  &--teal {
    background-color: $teal;
    color: white;
  }
  &--white {
    background-color: white;
    color: $black;
  }
  &--gradient {
    background-image: linear-gradient(to right, rgba($gradient_1, 0.1) , rgba($gradient_2, 0.1));
    color: $black;
  }
  &--orange {
    background-color: $orange;
    color: white;
  }
  &--yellow {
    background-color: $lemon;
    color: $black;
  }
}
