.module__text {
  @media (max-width: $screen-xs-max) {
    padding: 30px 0px;
  }
  p {
    @include inter($intro, 400);
    &.intro-text {
      @include inter($large-intro, 400);
    }
  }

  &__heading {
    @include bebas($testimonials-heading, 375);
    text-transform: uppercase;
    letter-spacing: 4px;
    @include marginBottom(0);
    text-align: center;
  }

  &__grid {
    @include display-grid();
    &__col {
      &--1 {
        .module__text__button {
          @extend .btn--block;
          @extend .btn--orange;
          display: inline-block;
          @include marginTop(20);
        }
      }
      &--2 {
        color: #6A6A6A;
        .module__text__button {
          @include inter($p, 700);
          display: table;
          color: black;
          position: relative;
          border-bottom: 4px solid $orange;
        }
      }
      &--img {
        img {
          border-radius: 100%;
          border: 3px solid $lemon;
          padding: 14px;
          @media (max-width: $screen-xs-max) {
            padding: 8px;
            max-width: 200px;
            margin: 0 auto;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
  &--columns-1 {
    @include display-grid-columns(1fr);
    @media (min-width: $screen-sm-min) {
      padding: 70px 0px 40px 0px;
    }
    .module__text__grid__col--1 {
      max-width: 678px;
      margin: 0 auto;
    }
  }
  &--columns-2 {
    @media (min-width: $screen-sm-min) {
      @include display-grid-columns(5fr 7fr);
      @include display-grid-gap(60);
      padding: 70px 0px 70px 0px;
    }
  }
  &--columns-img {
    @media (min-width: $screen-sm-min) {
      @include display-grid-columns(4fr 8fr);
      @include display-grid-gap(90);
      padding: 70px 0px 70px 0px;
    }
  }
}
