$quote: (
0px: (24px, 36px),
768px: (28px, 44px),
1024px: (32px, 48px)
);
$testimonials-heading: (
0px: (24px, 32px),
1024px: (28px, 34px)
);

.module__testimonials {
  background-image: linear-gradient(to right, rgba($gradient_1, 0.1) , rgba($gradient_2, 0.1));
  position: relative;
  overflow: hidden;
  padding: 30px 0px;
  @media (min-width: $screen-sm-min) {
    padding: 70px 0px;
  }

  &__heading {
    @include bebas($testimonials-heading, 375);
    text-transform: uppercase;
    letter-spacing: 4px;
    @include marginBottom(50);
    text-align: center;
  }

  &__item {
    background-color: white;
    padding: 80px 30px 50px 30px;
    @media (min-width: $screen-sm-min) {
      padding: 30px 90px;
    }
    @media (min-width: $screen-lg-min) {
      padding: 60px 110px;
    }
    &__grid {
      @include display-grid;
      @include display-grid-columns(70px 1fr);
      @include align-items(center);
    }
    &__image {
      border-radius: 100%;
      border: 2px solid $orange;
      padding: 4px;
      height: 58px;
      width: 58px;
      @media (min-width: $screen-sm-min) {
        height: 68px;
        width: 68px;
      }
    }
    &__name {
      @include inter($p, 400);
      padding-left: 8px;
      @media (min-width: $screen-sm-min) {
        padding-left: 15px;
      }
    }
    &__quote {
      position: relative;
      p {
        @include bebas($quote, 400);
      }
      &:before,
      &:after {
        font-size: 26px;
      }
      &:before {
        @extend .icon-quote_top;
        position: absolute;
        color: $orange;
        top: -36px;
        @media (min-width: $screen-sm-min) {
          top: 0px;
          left: -60px;
        }
      }
      &:after {
        @extend .icon-quote_bottom;
        position: absolute;
        color: $orange;
        bottom: -10px;
        right: 0;
        @media (min-width: $screen-sm-min) {
          bottom: 0px;
          right: -50px;
}
      }
    }
  }
}

.swiper-pagination {
  @include marginTop(40);
  position: relative;
  bottom: 0 !important;
  left: 0 !important;
  &-bullet {
    border-radius: 0;
    background-color: transparent;
    border: 2px solid $orange;
    height: 15px;
    width: 15px;
    opacity: 1;
    span {
      display: none;
    }
    &-active {
      background-color: $orange;
    }
  }
}
