.module__posts,
.module__projects {
  position: relative;
  padding: 90px 0px;
  &__grid {
    @include display-grid;
    @include display-grid-columns(1fr 1fr);
    @include display-grid-gap(60);
    @media (min-width: $screen-lg-min) {
      @include display-grid-gap(95);
    }
  }
  .container {
    position: relative;
    z-index: 2;
  }
  &__background {
    position: absolute;
    height: 66.666%;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  &--orange {
    .module__posts__background,
    .module__projects__background {
      background-color: $orange;
    }
  }
  &--yellow {
    .module__posts__background,
    .module__projects__background {
      background-color: $lemon;
    }
  }
  &--teal {
    .module__posts__background,
    .module__projects__background {
      background-color: $teal;
    }
  }
  &--aqua {
    .module__posts__background,
    .module__projects__background {
      background-color: $aqua;
    }
  }

  .post__item__more {
    border-bottom: 4px solid white;
  }

  &__featured {
    background-color: $lemon;
    padding: 100px 0px 0px 0px;
    .post__item {
      @include marginBottom(60);
      a {
        @include display-grid;
        @include display-grid-columns(1fr 1fr);
        @include display-grid-gap(60);
        @media (min-width: $screen-lg-min) {
          @include display-grid-gap(95);
        }
      }
    }
  }
  &--layout {
    padding: 0;
    .module__posts__grid,
    .module__projects__grid {
      padding: 90px 0px;
    }
    .post__item {
      @include marginBottom(60);
    }
  }
}

$post-title: (
0px: (30px, 42px)
);

.post__item {
  &__image {
    box-shadow: 6px 6px 0px -2px $orange;
    @include marginBottom(24);
  }
  &__title {
    @include bebas($post-title, 700);
    @include marginBottom(24);
  }
  &__excerpt {
    @include inter($p, 400);
  }
  &__more {
    display: inline-block;
    @include inter($intro, 700);
  }
}

$single-title: (
0px: (60px, 72px)
);
$single-back: (
0px: (24px, 34px)
);

.article {
  padding: 218px 0px 60px 0px;
  @extend .text-styles;
  .container {
    @media (min-width: $screen-lg-min) {
      max-width: 678px;
    }
  }
  &__title {
    @include bebas($single-title, 700);
    @include marginBottom(30);
  }
  &__body {
    p.intro-text {
      @include inter($intro, 400);
    }
  }
  &__back {
    @include marginBottom(20);
    @include bebas($single-back, 400);
    display: block;
    &:before {
      @extend .icon-arrow_left;
      font-size: 18px;
      padding-right: 15px;
    }
  }
}

.module__related {
  border-top: 1px solid #CACACA;
  padding: 70px 0px 40px 0px;
  @media (min-width: $screen-lg-min) {
    padding: 40px 0px;
  }
  &__grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__item {
    span {
      display: block;
      @include bebas($large-intro, 700);
    }
    a {
      @include bebas($heading, 700);
    }
    &--prev a,
    &--next a {
      position: relative;
      &:before {
        color: $orange;
        font-size: 32px;
        margin-top: -20px;
      }
    }
    &--prev a {
      &:before {
        @extend .icon-caret_left;
        @media (max-width: $screen-md-max) {
          position: absolute;
          top: -50px;
          left: -5px;
        }
        @media (min-width: $screen-lg-min) {
          @include center-pos(false, true);
          left: -60px;
        }
      }
    }
    &--next {
      text-align: right;
    }
    &--next a {
      &:before {
        @extend .icon-caret_right;
        @include center-pos(false, true);
        right: 0;
        @media (min-width: $screen-lg-min) {
          right: -60px;
        }
      }
    }
  }
}
