$content-title: (
0px: (28px, 36px),
768px: (36px, 58px),
1024px: (42px, 60px)
);

.module__content-block {
  padding: 40px 0px;
  @media (min-width: $screen-sm-min) {
    padding: 60px 0px;
  }
  @media (min-width: $screen-lg-min) {
    padding: 120px 0px;
  }

  &__grid {
    @media (min-width: $screen-sm-min) {
      @include display-grid;
      @include display-grid-columns(1fr 1fr);
      @include display-grid-areas("left right");
      @include display-grid-gap(32);
      @include align-items(center);
    }
  }
  &--image-right {
    .module__content-block__grid {
      .module__content-block__image {
        @include display-grid-area(right);
      }
      .module__content-block__content {
        @include display-grid-area(left);
        padding-right: 0;
        @media (min-width: $screen-sm-min) {
          padding-right: 30px;
        }
        @media (min-width: $screen-lg-min) {
          padding-right: 50px;
        }
      }
    }
  }
  &--image-left {
    .module__content-block__grid {
      .module__content-block__image {
        @include display-grid-area(left);
      }
      .module__content-block__content {
        @include display-grid-area(right);
        padding-left: 0px;
        @media (min-width: $screen-sm-min) {
          padding-left: 30px;
        }
        @media (min-width: $screen-lg-min) {
          padding-left: 50px;
        }
      }
    }
  }

  &__title {
    @include bebas($content-title, 700);
    @include marginBottom(30);
  }
  &__content {
    @include inter($intro, 400);
    @include marginBottom(30, 0);
    @extend .text-styles;
  }
  &__image {
    box-shadow: 6px 6px 0px -2px $black;
  }
  &__link,
  &__open {
    cursor: pointer;
    @extend .btn--text;
    & + .module__content-block__link {
      @include marginTop(10);
    }
  }

  &--teal {
    background-color: $teal;
    color: white;
  }
  &--white {
    background-color: white;
    color: $black;
  }
  &--gradient {
    background-image: linear-gradient(to right, rgba($gradient_1, 0.1) , rgba($gradient_2, 0.1));
    color: $black;
  }
  &--orange {
    background-color: $orange;
    color: white;
    .module__content-block__link {
      &:after {
        background-color: white;
      }
    }
  }
  &--yellow {
    background-color: $lemon;
    color: $black;
    .module__content-block__link {
      &:after {
        background-color: white;
      }
    }
  }


  &__modal {
    @include center-pos();
    position: fixed;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    // max-width: calc(100% - 40px);
    background-color: rgba(black, 0.5);
    height: 100%;
    width: 100%;
    &--active {
      pointer-events: all;
      opacity: 1;
    }
    &__inner {
      background-color: white;
      // color: $orange;
      border: 3px solid $orange;
      box-shadow: 6px 6px 0px -2px $orange;
      @extend .text-styles;
      // position: relative;
      @include center-pos();
      position: fixed;
      height: 560px;
      width: 100%;
      overflow-y: scroll;
      padding: 20px 40px 20px 20px;
      max-width: calc(100% - 30px);
      @media (min-width: $screen-sm-min) {
        max-width: 720px;
        padding: 30px 90px 30px 50px;
      }
    }
    &__close {
      color: $orange;
      position: fixed;
      cursor: pointer;
      top: 30px;
      right: 14px;
      height: 24px;
      width: 24px;
      @media (min-width: $screen-sm-min) {
        top: 40px;
        right: 42px;
        height: 30px;
        width: 30px;
      }
      &:after {
        @extend .icon-cross;
        position: absolute;
        @include transition(transform $transition);
        font-size: 24px;
        @media (min-width: $screen-sm-min) {
          font-size: 30px;
        }
      }
      &:hover {
        &:after {
          @include transform(rotate(90deg));
        }
      }
    }
  }

}

#content {
  & > .module__content-block:first-child() {
    padding-top: 230px;
  }
}
