$services: (
0px: (32px, 40px),
768px: (44px, 48px)
);

.module__services {
  background-color: $teal;
  padding: 40px 0px;
  @media (min-width: $screen-sm-min) {
    padding: 100px 0px 80px 0px;
  }
  &__grid {
    @include display-grid;
    @media (min-width: $screen-sm-min) {
      @include display-grid-columns(1fr 1fr 1fr);
      @include display-grid-gap(28);
    }
  }
  &__heading {
    @include inter($intro, 400);
    text-transform: uppercase;
    color: white;
    @include marginBottom(45);
  }
  &__item {
    border-top: 5px solid transparent;
    color: white;
    background-color: $teal;
    position: relative;
    @include marginBottom(40, 0);
    padding-top: 24px;
    height: 140px;
    @media (min-width: $screen-sm-min) {
      padding-top: 24px;
      height: 260px;
    }
    &:after {
      @extend .icon-arrow_right;
      color: white;
      font-size: 30px;
      position: absolute;
      left: 0;
      bottom: 30px;
      @media (min-width: $screen-sm-min) {
        bottom: 0;
      }
    }
    &--orange {
      border-color: $orange;
    }
    &--yellow {
      border-color: $lemon;
    }
    &--aqua {
      border-color: $aqua;
    }

    &__label {
      @include bebas($services, 400);
    }
  }
}
