.module__clients {
  padding: 30px 0px;
  @media (min-width: $screen-sm-min) {
    padding: 48px 0px;
  }
  &__heading {
    text-transform: uppercase;
    @include inter($p, 500);
    letter-spacing: 1px;
    text-align: center;
    @include marginBottom(30);
  }
  &__items {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    grid-gap: 45px;
    flex-wrap: wrap;
    @media (min-width: $screen-lg-min) {
      flex-wrap: nowrap;
    }
    img {
      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        max-width: 100px;
      }
    }
  }
  & + .module__text {
    .module__text__grid {
      padding-top: 20px;
    }
  }
}
