$grid: (
0px: (26px, 37px),
10240px: (36px, 50px),
);

.module__grid {
  background-color: $teal;
  padding: 80px 0px;

  &__heading {
    color: white;
    @include bebas($grid, 700);
    text-align: center;
    @include marginBottom(50);
  }
  &__grid {
    @include display-grid;
    @media (min-width: $screen-sm-min) {
      @include display-grid-columns(1fr 1fr);
      @include display-grid-gap(26);
    }
    @media (min-width: $screen-lg-min) {
      @include display-grid-columns(1fr 1fr 1fr);
      @include display-grid-gap(26);
    }
  }
  &__item {
    background-color: white;
    position: relative;
    @include marginBottom(26);
    padding: 46px 36px 16px 36px;
    @include inter($intro, 400);
    &:before {
      content: "";
      height: 8px;
      width: 45px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &--orange {
      &:before {
        background-color: $orange;
      }
    }
    &--yellow {
      &:before {
        background-color: $lemon;
      }
    }
    &--aqua {
      &:before {
        background-color: $aqua;
      }
    }
  }
}
