$content-title: (
0px: (42px, 60px)
);

.module__content-block {
  padding: 120px 0px;

  &__grid {
    @include display-grid;
    @include display-grid-columns(1fr 1fr);
    @include display-grid-areas("left right");
    @include display-grid-gap(32);
    @include align-items(center);
  }
  &--image-right {
    .module__content-block__grid {
      .module__content-block__image {
        @include display-grid-area(right);
      }
      .module__content-block__content {
        @include display-grid-area(left);
        padding-right: 50px;
      }
    }
  }
  &--image-left {
    .module__content-block__grid {
      .module__content-block__image {
        @include display-grid-area(left);
      }
      .module__content-block__content {
        @include display-grid-area(right);
        padding-left: 50px;
      }
    }
  }

  &__title {
    @include bebas($content-title, 700);
    @include marginBottom(30);
  }
  &__content {
    @include inter($intro, 400);
  }
  &__image {
    box-shadow: 6px 6px 0px -2px $orange;
  }
  &__link {
    @include inter($p, 700);
    display: table;
    position: relative;
    border-bottom: 4px solid $orange;
    & + .module__content-block__link {
      @include marginTop(10);
    }
  }

  &--teal {
    background-color: $teal;
    color: white;
  }
  &--white {
    background-color: white;
    color: $black;
  }
  &--gradient {
    background-image: linear-gradient(to right, rgba($gradient_1, 0.1) , rgba($gradient_2, 0.1));
    color: $black;
  }
  &--orange {
    background-color: $orange;
    color: white;
    .module__content-block__link {
      border-bottom: 4px solid white;
    }
  }
  &--yellow {
    background-color: $lemon;
    color: $black;
    .module__content-block__link {
        border-bottom: 4px solid white;
    }
  }
}
