$news-title: (
0px: (21px, 26px)
);

$news-main: (
0px: (40px, 57px),
768px: (46px, 62px)
);

.news {
  padding: 60px 0px;
  @media (min-width: $screen-sm-min) {
    padding: 90px 0px;
  }
  &__grid {
    @media (min-width: $screen-sm-min) {
      @include display-grid;
      @include display-grid-gap(36);
      @include display-grid-columns(1fr 1fr);
    }
    @media (min-width: $screen-lg-min) {
      @include display-grid-columns(1fr 1fr 1fr);
    }
  }
  &__title {
    @include brandon($news-main, medium);
    @include marginBottom(50, 60);
  }

  &__pagination {
    // border: 1px solid red;
    text-align: center;
    .page-numbers {
      display: inline-block;
      // background-color: pink;
      color: $text;
      @include sans($button, bold);
      border-radius: 100%;
      height: 40px;
      width: 40px;
      position: relative;
      padding: 7px 15px;
      @include transition(background-color $transition, color $transition);
      &:after {
        @include center-pos();
        font-size: 14px;
      }
      &.next {
        background-color: none;
        border: 0;
        &:after {
          @extend .icon-arrow_right;
        }
      }
      &.prev {
        background-color: none;
        border: 0;
        &:after {
          @extend .icon-arrow_left;
        }
      }
      &.current {
        background-color: $primary;
        color: white;
      }
      &:hover,
      &:focus {
        background-color: $primary;
        color: white;
      }
    }
  }
}

.post__item {
  @include marginBottom(60);
  &__date {
    @include sans($p, book);
    border-top: 1px solid $dark-grey;
    padding: 12px 0px;
  }
  &__image {
    position: relative;
    @include marginBottom(15);
    &__mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: rgba($primary, 0.7);
      @include transition(opacity $transition);
    }
  }
  &__title {
    @include sans($news-title, bold);
    @include marginBottom(15);
  }
  &__excerpt {
    @include sans($p, book);
  }
  a {
    &:hover,
    &:focus {
      .post__item__title {
        text-decoration: underline;
      }
      .post__item__image__mask {
        opacity: 1;
      }
    }
  }
}

.article {
  padding: 70px 0px 80px 0px;
  .container {
    @media (min-width: $screen-sm-min) {
      max-width: 780px;
    }
  }
  &__date {
    @include sans($p, book);
    @include marginBottom(15);
  }
  &__title {
    @include brandon($title, medium);
    @include marginBottom(30);
  }
  &__body {
    @extend .text-styles;
    @media (min-width: $screen-sm-min) {
      padding-right: 100px;
    }
    img {
      @media (min-width: $screen-sm-min) {
        max-width: calc(100% + 100px);
        position: relative;
        width: calc(100% + 100px);
      }
    }
  }
  & + .news.module {
    padding: 0;
  }
}

.post-index {
  @media (min-width: $screen-lg-min) {
    padding-top: 70px;
  }
  &__grid {
    @media (min-width: $screen-sm-min) {
      @include display-grid();
      @include display-grid-columns(1fr 1fr);
      @include display-grid-gap(36);
    }
    @media (min-width: $screen-lg-min) {
      @include display-grid-columns(1fr 1fr 1fr);
    }
  }
  .post__item:nth-child(3) {
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      display: none;
    }
  }
}
.content-block + .post-index {
  padding-top: 30px;
}

.single-post {
  .news.module {
    .post__item:nth-child(3) {
      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        display: none;
      }
    }
  }
}
