$news-title: (
0px: (21px, 26px)
);

$news-main: (
0px: (40px, 57px),
768px: (46px, 62px)
);

$index-intro: (
0px: (26px, 37px),
768px: (32px, 42px),
);

$featured: (
0px: (18px, 26px),
768px: (20px, 29px)
);

.module__posts {
  &.related {
    .module__posts__grid {
      @media (min-width: $screen-sm-min) {
        @include display-grid;
        @include display-grid-gap(36);
        // @include display-grid-gap(285);
        @include display-grid-columns(1fr 1fr);
      }
      @media (min-width: $screen-lg-min) {
        @include display-grid-columns(1fr 1fr 1fr);
        // @include display-grid-columns(2fr 1fr);
      }
    }
    .module__posts__title {
      @include brandon($title, medium);
      @include marginBottom(30);
    }
  }
  // padding: 60px 0px;
  // // padding-top: 60px;
  // overflow: hidden;
  // position: relative;
  // // z-index: 1;
  // @media (min-width: $screen-sm-min) {
  //   // padding: 90px 0px 0px 0px;
  //   padding-top: 90px;
  // }
  // &:after {
  //   content: "";
  //   height: 1000px;
  //   width: 1000px;
  //   position: absolute;
  //   top: -400px;
  //   left: -200px;
  //   background-color: $primary;
  //   opacity: 0.1;
  //   border-radius: 100%;
  //   pointer-events: none;
  //   z-index: 1;
  // }

  & > .container {
    position: relative;
    z-index: 2;
  }

  &__grid {
    // @media (min-width: $screen-sm-min) {
    //   @include display-grid;
    //   @include display-grid-gap(36);
    //   // @include display-grid-gap(285);
    //   @include display-grid-columns(1fr 1fr);
    // }
    // @media (min-width: $screen-lg-min) {
    //   @include display-grid-columns(1fr 1fr 1fr);
    //   // @include display-grid-columns(2fr 1fr);
    // }

    &--split {
      .module__posts__intro {
        @include display-grid-column(1,4);
        @media (min-width: $screen-lg-min) {
          @include display-grid-column(1,3);
        }
      }
    }
  }
  // &__title {
  //   @include brandon($title, medium);
  //   @include marginBottom(30);
  // }
  // &__intro {
  //   @extend .text-styles;
  //   @include align-self(center);
  //   @include marginTop(0, 0, 0, -60);
  //   @media (min-width: $screen-lg-min) {
  //     padding-right: 250px;
  //   }
  //   & + .post__item {
  //     &:before {
  //       content: "Featured";
  //       @include sans($featured, bold);
  //       @include marginBottom(15);
  //       color: $primary;
  //       display: block;
  //       position: relative;
  //     }
  //     @media (max-width: $screen-md-max) {
  //       display: none;
  //     }
  //   }
  // }

  &__pagination {
    // border: 1px solid red;
    text-align: center;
    .page-numbers {
      display: inline-block;
      // background-color: pink;
      color: $text;
      @include sans($button, bold);
      border-radius: 100%;
      height: 40px;
      width: 40px;
      position: relative;
      padding: 7px 15px;
      @include transition(background-color $transition, color $transition);
      &:after {
        @include center-pos();
        font-size: 14px;
      }
      &.next {
        background-color: none;
        border: 0;
        &:after {
          @extend .icon-arrow_right;
        }
      }
      &.prev {
        background-color: none;
        border: 0;
        &:after {
          @extend .icon-arrow_left;
        }
      }
      &.current {
        background-color: $primary;
        color: white;
      }
      &:hover,
      &:focus {
        background-color: $primary;
        color: white;
      }
    }
  }

  & + .post-index {
    padding-top: 0;
  }
}

// .module__posts specifically archive page
// get archive category by body class, to set colours
body.category {
  &-thoughts,
  &-conversation {
    .module__post:after,
    .page-header:after {
      background-color: $clay;
    }
    .post__item:before {
      color: $clay;
    }
    .module__posts__title,
    .page-header__title {
      &:before {
        @extend .icon-cross;
        font-size: 70px;
        color: $clay;
      }
    }
  }
  &-blog {
    .module__post:after,
    .page-header:after {
      background-color: $aqua;
    }
    .post__item:before {
      color: $aqua;
    }
    .module__posts__title,
    .page-header__title {
      &:before {
        @extend .icon-cross;
        font-size: 70px;
        color: $aqua;
      }
    }
  }
  &-podcasts {
    .module__post:after,
    .page-header:after {
      background-color: $violet;
    }
    .post__item:before {
      color: $violet;
    }
    .module__posts__title,
    .page-header__title {
      &:before {
        @extend .icon-cross;
        font-size: 70px;
        color: $violet;
      }
    }
  }
  &-books {
    .module__post:after,
    .page-header:after {
      background-color: $onyx;
    }
    .post__item:before {
      color: $onyx;
    }
    .module__posts__title,
    .page-header__title {
      &:before {
        @extend .icon-cross;
        font-size: 70px;
        color: $onyx;
      }
    }
  }
}

// remove background bubble on related posts
.single-post .module__posts {
  &:after {
    display: none;
  }
  &__title {
    @include brandon($news-main, medium);
  }
}


.news__intro {
  &__grid {
    @include display-grid;
    @include display-grid-columns(2fr 1fr);
    @include display-grid-gap(72);
  }
  &__text {

  }
  &__featured {

  }
}

.post__item {
  @include marginBottom(60);
  &__image {
    position: relative;
    @include marginBottom(15);
    &__mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: rgba($primary, 0.7);
      @include transition(opacity $transition);
    }
  }
  &__title {
    @include sans($news-title, bold);
    @include marginBottom(15);
  }
  &__excerpt {
    @include sans($p, book);
  }
  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // @include display-grid;
    // @include display-grid-columns(1fr 1fr);
  }
  &__date {
    @include sans($p, book);
    // border-top: 1px solid $dark-grey;
    padding: 12px 0px;
  }
  &__category {
    border: 1px solid black;
    border-radius: 8px;
    display: inline-block;
    @include sans($button, bold);
    padding: 4px 15px;
    &--blog {
      border-color: $aqua;
      color: $aqua;
    }
    &--thoughts,
    &--conversation {
      border-color: $clay;
      color: $clay;
    }
    &--podcasts {
      border-color: $violet;
      color: $violet;
    }
    &--books {
      border-color: $onyx;
      color: $onyx;
    }
  }
  &__read {
    @include sans($p, book);
  }
  a {
    display: block;
    &:hover,
    &:focus {
      .post__item__title {
        text-decoration: underline;
      }
      .post__item__image__mask {
        opacity: 1;
      }
      .post__item__read {
        text-decoration: underline;
      }
    }
  }
}

.article {
  padding: 70px 0px 80px 0px;
  .container {
    @media (min-width: $screen-sm-min) {
      max-width: 780px;
    }
  }
  &__date {
    @include sans($p, book);
    @include marginBottom(15);
  }
  &__title {
    @include brandon($title, medium);
    @include marginBottom(30);
  }
  &__body {
    @extend .text-styles;
    @media (min-width: $screen-sm-min) {
      padding-right: 100px;
    }
    img {
      @media (min-width: $screen-sm-min) {
        max-width: calc(100% + 100px);
        position: relative;
        width: calc(100% + 100px);
      }
    }
  }
  & + .module__news {
    padding: 0;
  }
}

.post-index {
  @media (min-width: $screen-lg-min) {
    padding-top: 70px;
  }

  &__introduction {
    @include marginBottom(25, 40);
    &:not(.post-index__introduction--mixed) {
      @include display-grid;
      @include display-grid-gap(20);
      @include display-grid-columns(70px 1fr 100px);
      @include align-items(end);
      @media (min-width: $screen-sm-min) {
        @include align-items(center);
      }
    }
    &--blog {
      .post-index__icon {
        color: $aqua;
      }
    }
    &--thoughts,
    &--conversation {
      .post-index__icon{
        color: $clay;
      }
    }
    &--podcasts {
      .post-index__icon {
        color: $violet;
      }
    }
    &--books {
      .post-index__icon {
        color: $onyx;
      }
    }
  }

  &__icon {
    @media (min-width: $screen-sm-min) {
      @include display-grid-column(1,2);
      @include display-grid-row(1, 3);
    }
    &:after {
      @extend .icon-cross;
      font-size: 70px;
    }
  }
  &__text {
    @extend .text-styles;
    @include display-grid-column(1,4);
    @include display-grid-row(2, 3);
    @include marginTop(20, 0);
    @media (min-width: $screen-sm-min) {
      @include display-grid-column(2,3);
      @include display-grid-row(2, 3);
    }
    p {
      margin-bottom: 0 !important;
    }
  }
  &__title {
    @include brandon($index-intro, 500);
    @media (min-width: $screen-sm-min) {
      @include display-grid-column(2,3);
      @include display-grid-row(1, 2);
    }
  }
  &__more {
    @include sans($p, bold);
    text-decoration: underline;
    @include justify-self(end);
    @media (min-width: $screen-sm-min) {
      @include display-grid-column(3,4);
      @include display-grid-row(2, 3);
    }
  }


  &__grid {
    @media (min-width: $screen-sm-min) {
      @include display-grid();
      @include display-grid-columns(1fr 1fr);
      @include display-grid-gap(36);
    }
    @media (min-width: $screen-lg-min) {
      @include display-grid-columns(1fr 1fr 1fr);
    }
  }
  .post__item:nth-child(3) {
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      display: none;
    }
  }
  & + .post-index {
    padding-top: 0;
  }
}

.home .post-index {
  padding-bottom: 60px;
}

.content-block + .post-index {
  padding-top: 30px;
}

.single-post {
  .module__posts {
    .post__item:nth-child(3) {
      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        display: none;
      }
    }
  }
}
