.testimonials {
  padding: 60px 0px 90px 0px;
  &__title {
    text-align: center;
    @include brandon($heading, medium);
    @include marginBottom(30, 60);
  }
  &__grid {
    margin: 0 auto;
    @media (min-width: $screen-sm-min) {
      max-width: 480px;
    }
    @media (min-width: $screen-lg-min) {
      max-width: 750px;
    }
  }
  &__item {
    border: 1px solid $primary;
    @include marginBottom(30, 40);
    border-radius: 4px;
    padding: 30px 25px;
    @media (min-width: $screen-sm-min) {
      padding: 30px 40px;
    }
  }

  &__quote {
    @include sans($p, book);
  }
  &__role {
    @include sans($p, bold);
  }
  &__name {
    @include sans($p, book);
  }

  &__more {
    text-align: center;
    a {
      display: block;
      margin: 0 auto;
    }
    button {
      @extend .btn;
    }
  }

  &__wrap {
    display: none;
  }
  &__wrap[data-group="1"] {
    display: block;
  }

}
