.video {
  padding: 50px 0px 70px 0px;
  background-color: $light-grey;
  &__inner {
    max-width: 785px;
    margin: 0 auto;
    text-align: center;
  }
  &__title {
    @include brandon($heading, medium);
    @include marginBottom(30);
  }
  &__text {
    @include sans($p, book);
    @include marginBottom(30);
  }
  &__wrapper {

  }
}
